@page "/Attendence"
@using Application.Services.AttendenceServices
@using Domain.Entities;

@inject IAttendenceService AttendenceService
<h1>Class</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>ClassId</th>
    

        
    </tr>
    @foreach(var Attend in attendences ){   
    <tr>
        <td>@Attend.Id</td>
        <td>@Attend.Name</td>
        <td>@Attend.ClasssId</td>
    </tr>

    }
 
</table>
@code{
   
    private List<Attendence> attendences= new List<Attendence>();
    protected override void OnInitialized()
    {
        attendences = AttendenceService.GetAttendences();
    }

}